:root {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
  font-size: 30px;
}

body {
  /* background-image: url(/images/pattern-curve.svg); */
  background-repeat: no-repeat;
  background-position: left bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-size: 70px; */
}

.container {
  width: 375px;
  height: 667px;
  font-family: 'Inter', sans-serif;
  color: var(--Dark-Blue);
}

.img-container {
  /* position: relative; */
  background-size: contain;
  background-repeat: no-repeat;
  height: 306px;
  width: 327px;
  margin: auto;
  background-image: url(/images/pattern-bg.svg);
  background-position: center;
}

.img {
  width: 255px;
  max-width: 100%;
  border-radius: 5px;
  display: block;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.description {
  font-weight: 300;
  font-size: .59rem;
  text-align: center;
  line-height: .9rem;
  padding-top: 1.8rem;
  margin: auto;
  width: 330px;
  background-image: url(images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position: center 1.4rem;
  background-size: 50px;
}

.description p {
  font-size: .4rem;
}

.name,
.profesion {
  font-size: .4rem;
  display: block;
  text-align: center;
}

.name {
  font-weight: 700;
  margin-top: .93rem;
}

.profesion {
  color: var(--Grayish-Blue);
}

.attribution {
  font-size: .5rem;
}